[push]
	default = current
[alias]
	ci = commit --verbose
	co = checkout
	b = branch -vv
	ll = log --graph --pretty=format:'%w(100,0,10)%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all -20
	l = log --graph --pretty=format:'%w(100,0,10)%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -20
	d = diff
	dd = diff --cached
	s = status
	pb = push build
	pd = !sh -c 'git branch -d $0 && git push build :$0'
[core]
	pager = less -XFR
	editor = mvim -v
	abbrev = 4
	excludesfile = ~/.gitignore_global
[include]
	path = ~/.gitconfig.local
[rerere]
	enabled = true
[credential]
	helper = osxkeychain
[user]
	email = me@haolian.org
	name = Hao Lian
